* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  max-width: 1440px;
  background: #fff;
  margin: 0 auto;
  padding: 100px 156px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px 24px;
}

.gallery-li {
  width: calc((100% - 48px) / 3);
}

.gallery-li img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#name-input {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
  width: 360px;
  height: 40px;
}

.box {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 136px;
  background-color: #fff;
}

.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 152px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

input {
  width: 360px;
  height: 40px;
  padding-left: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #2e2f42;
}
